<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <th:block th:fragment="bootstrapImports">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link th:href="@{css/style.css}" rel="stylesheet" type="text/css">
    </th:block>
</head>
<body>
<header>
    <h1>Academy of Lille </h1>
    <th:block th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}"> Academy of Lille, let's inspire tomorrow</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStudent" aria-controls="navbarStudent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarStudent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/add}" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/students}" >Add student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/students}" >All students</a>
                        </li>
                    </ul>
                    <form class="d-flex ms-auto" th:action="@{/search}" method="get">
                        <input class="form-control" type="search" placeholder="Student" th:name="search">
                        <button class="btn btn-outline-success mx-2" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </th:block>
</header>

<main class="container">
    <h2 th:text="${name}"></h2>
    <h2 th:text="${address}"></h2>
</main>

</nav>
</body>

</html>